@font-face {
    font-family: 'MyFont';
    src: url('./Verdana.ttf') format('ttf');
    font-weight:600;
    font-style: normal;
}

body {
    background: gray;
}

.vd-container {
    margin:0 auto;
}

.vd-title {
    color: red;
    font-family: 'MyFont';
}